.wrapper {
  text-decoration: none; 
  overflow: hidden;
  max-width: 100%;
  width: 600px;
  height: 400px;
}

.canvas {
  height:100%;
  width:100%;
  max-width:100%;
}

.canvas img {
  max-width:none!important;
  background:none!important;
  font-size: inherit;
  font-weight:inherit;
}